In [2]:
import mylib as ml
import pandas as pd
import numpy as np

In [5]:
data = ml.fdata()

In [7]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [12]:
columns = ['code', '날짜', '시간', '종가', '거래량']

# 데이터 프레임에서 원하는 컬럼만 남기기
data = data[columns]

In [21]:
data.shape

(41517026, 5)

In [52]:
data = pd.read_csv('./codeDateTimeCloseVolume.csv')

In [65]:
unique_codes = data['code'].unique()
len(unique_codes)

1299

In [57]:
# 거래량이 0인 로우 수 계산
zero_volume_counts = data[data['거래량'] == 0].groupby('code').size()

# 0인 로우가 5개 이상인 code 목록
codes_to_remove = zero_volume_counts[zero_volume_counts >= 1000].index.tolist()
len(codes_to_remove)
data_del = data[~data['code'].isin(codes_to_remove)]

In [62]:
zero_volume_counts.shape

(1290,)

In [59]:
zero_volume_count = (data_del['거래량'] == 0).sum()
zero_volume_count

79581

In [66]:
data.shape

(41517026, 6)

In [67]:
data_re=data[20000000:]

In [70]:
data_re

          Unnamed: 0    code        날짜    시간     종가   거래량
20000000    20000000  334970  20240726  1226   5570   482
20000001    20000001  334970  20240726  1227   5570   439
20000002    20000002  334970  20240726  1228   5580  1036
20000003    20000003  334970  20240726  1229   5600   509
20000004    20000004  334970  20240726  1230   5570   124
...              ...     ...       ...   ...    ...   ...
41517021    41517021   58970  20240812  1516  42900    84
41517022    41517022   58970  20240812  1517  42900   221
41517023    41517023   58970  20240812  1518  42850   256
41517024    41517024   58970  20240812  1519  42900   298
41517025    41517025   58970  20240812  1520  42900   299

[21517026 rows x 6 columns]

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers, models
import mylib as ml

# 데이터 로딩 예시 (데이터프레임 형식)
df = ml.dataRenameVol(data_re)

# 시퀀스 길이 및 특성 수 설정
time_steps = 5  # 사용할 시퀀스 길이
features = 2     # 종가와 거래량

# 데이터 준비 함수
def prepare_data(df, time_steps):
    X = []
    y = []
    
    for i in range(len(df) - time_steps):
        X.append(df.iloc[i:i + time_steps][['close', 'volume']].values)
        # 다음 종가가 현재 종가보다 높으면 2, 같으면 1, 낮으면 0
        if df.iloc[i + time_steps]['close'] > df.iloc[i + time_steps - 1]['close']:
            y.append(2)
        elif df.iloc[i + time_steps]['close'] == df.iloc[i + time_steps - 1]['close']:
            y.append(1)
        else:
            y.append(0)

    return np.array(X), np.array(y)

# 푸리에 변환을 적용하는 함수
def apply_fourier_transform(x):
    # 입력 텐서의 크기: (batch_size, time_steps, features)
    # 각 시퀀스에 대해 푸리에 변환 적용
    fft_result = tf.signal.fft(tf.cast(tf.transpose(x, perm=[0, 2, 1]), tf.complex64))
    return tf.abs(fft_result)

# 트랜스포머 모델 정의
class TransformerBlock(layers.Layer):
    def __init__(self, embed_size, heads, dropout=0):
        super(TransformerBlock, self).__init__()
        self.attention = layers.MultiHeadAttention(num_heads=heads, key_dim=embed_size)
        self.norm1 = layers.LayerNormalization(epsilon=1e-6)
        self.norm2 = layers.LayerNormalization(epsilon=1e-6)
        self.feed_forward = models.Sequential([
            layers.Dense(2048, activation='relu'),
            layers.Dense(embed_size)
        ])
        self.dropout1 = layers.Dropout(dropout)
        self.dropout2 = layers.Dropout(dropout)

    def call(self, x):
        attention = self.attention(x, x)
        x = self.norm1(x + self.dropout1(attention))
        feed_forward = self.feed_forward(x)
        return self.norm2(x + self.dropout2(feed_forward))

# 결합 모델 생성
def create_combined_model(input_shape):
    transformer_input = layers.Input(shape=(time_steps, features))

    # 푸리에 변환 적용
    fourier_output = layers.Lambda(apply_fourier_transform)(transformer_input)
    fourier_output = layers.Flatten()(fourier_output)

    # 트랜스포머에 연결
    transformer_block = TransformerBlock(embed_size=features, heads=4)(transformer_input)
    transformer_output = layers.GlobalAveragePooling1D()(transformer_block)

    # 두 모델의 출력 결합
    combined = layers.Concatenate()([fourier_output, transformer_output])
    combined_output = layers.Dense(3, activation='softmax')(combined)  # 3개의 클래스

    return models.Model(inputs=transformer_input, outputs=combined_output)

# 모델 생성
input_shape_cnn = (time_steps, features)
combined_model = create_combined_model(input_shape_cnn)

# 모델 컴파일
combined_model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# 모델 요약
combined_model.summary()

# 데이터 준비
X, y = prepare_data(df, time_steps)

from keras.callbacks import ReduceLROnPlateau

reduce_lr = ReduceLROnPlateau(monitor='accuracy', factor=0.5, patience=3, min_lr=1e-6)
combined_model.fit(X, y, epochs=100, batch_size=32, validation_split=0.2, callbacks=[reduce_lr])