In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/big18/dl-dev/dl-dev/project/000660.csv')
data_000660 = data[['종가','거래량']]
data_000660.rename(columns={'종가':'Close',
                     '거래량':'Volume'},
            inplace=True)

C:\TempFolder\ipykernel_9228\3395440906.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_000660.rename(columns={'종가':'Close',

In [7]:
len(data_000660)/2

8695.0

In [8]:
data_000660 = data_000660.iloc[int(len(data_000660)/2):,:]
data_000660

        Close  Volume
8695   116400    1920
8696   116300     718
8697   116400    1298
8698   116400    4893
8699   116500    2294
...       ...     ...
17385  172900   29756
17386  172900   29398
17387  172700  111916
17388  173000   39084
17389  172900   47708

[8695 rows x 2 columns]